/* start global variable  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --back-color:#202124;
    --bar-color:#969ba1;
    --text-color:#bdc1c6;
    --title-color:#8ab4f8;
}
body{
    background-color: var(--back-color);
}
.container{
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 50px 50px auto  50px;
    grid-template-areas:    "logo logo logo logo logo logo nav nav nav nav "
                            "top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar"
                            "con con con con con con aside aside aside aside " 
                            "foo foo foo foo foo foo foo foo foo foo ";
    margin-top: 20px;
}
/* end global variable  */

/* header style  */
.logo{
    grid-area: logo;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin:30px;
}
.logo h2{
    padding-right: 30px;
    font-size: 30px;
    color: #fff;
}
.logo form{
    width: 80%;
}
.s-box{
    position: relative;
    text-align: center;
}
.logo .s-box input{
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #303134;
    background-color: #303134;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
}
.s-box .console-icon{
    position: absolute;
    color: var(--bar-color);
    top: 15px;
    right: 110px;

}
.s-box .vs-icon{
    position: absolute;
    top: 13px;
    right: 80px;
    width: 13px;
}
.s-box .camera-icon{
    position: absolute;
    top: 13px;
    right:50px;
}
.s-box .search-icon{
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--title-color);
}
nav{
    grid-area: nav;
}
nav ul{
    display: inline-flex;
    align-items: center;
    margin-left:70%;
}
nav li{
    list-style: none;
    padding: 0 10px;
}
.mobile-header{
    display: none;
    grid-area: mobile-nav;
}
.google-search-box{
    display: none;
    grid-area: s-box;
}

/* end header style  */
/* top-bar style  */
.top-bar{
    grid-area: top-bar;
    padding:10px;
    margin-top: 10px;
    border-bottom: 1px solid #3c4043;
    width: 100%;
}
.top-bar ul {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    margin-left: 170px;

}
.top-bar ul li,
.top-bar ul div {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #969ba1;
}
.top-bar ul li div svg,
.top-bar ul div div svg {
    fill:#969ba1;
}
.top-bar ul span {
    display: inline-block;
    width: 16px;
    height: 16px;
    color:#969ba1;

}
.top-bar .tools {
    cursor: pointer;
    padding-right: 20px;
    color: #969ba1;
    margin-left: 180px;
}
/* end top-bar style  */
/* main content style  */
.content{
    grid-area: con;
    margin-left: 170px;
}
.content span{
    color: var(--bar-color);
    display: block;
    padding-top:5px;
    margin-bottom: 20px;
    font-size: 15px;
}
.content div{
    width: 80%;
    margin-bottom: 40px;
}
.content div a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}
.content div h2{
    color: var(--title-color);
    font-weight: 400;
    font-size: 20px;
}
.content div p{
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.6;
}
.content .sub-content{
    margin:20px;
}
.content .sub-content h2{
    margin-top: 30px;
}
.content .sub-content a{
    margin-top: 20px;
    color: var(--title-color);
    display: inline-block;
}
.s-title{
    color: #fff;
    font-weight: 400;
}
.content .search-suggestion{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}
.content .search-suggestion .box{
    position: relative;
    margin-bottom:10px;
    width: 100%;
}
.content .search-suggestion input{
    width: 100%;
    outline: none;
    border: 1px solid #303134;
    background-color: #303134;
    color: var(--text-color);
    border-radius: 25px;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 14px;
}
.content .search-suggestion i{
    position: absolute;
    top: 15px;
    left: 12px;
    color: var(--bar-color);
}
.content .google{
    margin: auto;
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
}
/* end main content style  */





/* aside style */
aside{
    grid-area: aside;
}
aside .content{
    border: 1px solid #303134;
    border-radius: 25px;
    width: 350px;
    margin-left: 5%;
    margin-top: 50px;
}
aside .content .top-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid #303134;
    border-radius: 25px 25px 0 0;
}
aside .content div{
    width: 100%;
    overflow: hidden;
    margin: 0;
}
aside .content div img{
    width: 100%;
}
aside .content .title{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #303134;
}
aside .content .title h3{
    font-weight: 400;
    font-size: 25px;
}
aside .content .a-content{
    padding: 10px;
    line-height: 1.7;
}
aside .content a{
    color: var(--title-color);
}
aside .content li{
    color: var(--text-color);
}
aside .content .a-content h3{
    color: #fff;
    font-weight: 400;
}
aside .a-content div{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #303134;
}
aside .a-content div img{
    border-radius: 5px;
    width: 20%;
}



/* footer style  */
footer{
    grid-area: foo;
    color: #999da2;
    width: 100%;
}
footer .foo{
    background-color:#000 ;
}
footer .foo .foo-1{
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
    padding: 10px 150px;
    border-bottom: 1px solid #3c4043;
}
footer h4 span{
    color: #8ab4f8;
}
footer a{
    color:#9aa0a6 ;
    display: inline-block;
    padding:12px 11.3px ;
    font-size: 14px;
    text-decoration: none;
}
.links{
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;

}
.link-1{
    padding-left: 18.7px;
}
/* end footer style  */
@media (max-width:900px){
    .container{
        grid-template-areas: "logo logo logo logo logo logo logo logo logo nav "
        "top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar"
        "con con con con con con con con con con " 
        "foo foo foo foo foo foo foo foo foo foo ";
    }
    .logo{
        padding-left: 30px;
    }
    nav{
        display: none;
    }
    aside{
        display: none;
    }
    .top-bar{
        padding-left: 25px;
    }
    .top-bar ul{
        margin-left: 30px;
        gap: 0px;
    }
    .top-bar ul li{
        margin-right: 10px;
    }
    .top-bar ul span, .top-bar svg{
        display: none;
    }
    .top-bar .tools{
        display: none;
    }
    section.content{
        margin-left: 50px;
    }
    section.content .search-suggestion{
        grid-template-columns:100%;
        margin: auto;
        margin-top: 30px;
    }
    section.content .search-suggestion div{
        margin-bottom: 0px;
    }
    section.content .google{
        font-size: 20px;
    }
    footer .foo .foo-1{
        padding: 10px 50px;
    }
    footer .links{
        padding: 10px 15px;
    }
}

@media (max-width:620px){
    .container{
        grid-template-areas: "mobile-nav mobile-nav mobile-nav mobile-nav mobile-nav mobile-nav mobile-nav mobile-nav mobile-nav mobile-nav "
        "s-box s-box s-box s-box s-box s-box s-box s-box s-box s-box"
        "top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar"
        "con con con con con con con con con con " 
        "foo foo foo foo foo foo foo foo foo foo ";
        grid-template-rows: 100px ;
    }
    .container .logo{
        display: none;
    }
    .container .mobile-header{
        display:grid;
        grid-template-columns: 50px 1fr 50px;
        text-align: center;
        padding: 30px;
    }
    .container .mobile-header h3{
        font-size: 40px;
        color: #fff;
        padding-bottom: 10px;
    }
    .container .mobile-header .menu , .container .mobile-header .porofile-user{
        font-size: 30px;
        color: #fff;
    }
    .google-search-box{
        display: block;
        margin:0 30px;
    }
    .s-box{
        position: relative;
        text-align: center;
    }
    .s-box input{
        width: 100%;
        padding: 15px;
        outline: none;
        border: 1px solid #303134;
        background-color: #303134;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
    }
    .s-box .console-icon{
        position: absolute;
        color: var(--bar-color);
        top: 15px;
        right: 110px;
    
    }
    .s-box .vs-icon{
        position: absolute;
        top: 13px;
        right: 80px;
        width: 13px;
    }
    .s-box .camera-icon{
        position: absolute;
        top: 13px;
        right:50px;
    }
    .s-box .search-icon{
        position: absolute;
        top: 15px;
        right: 20px;
        color: var(--title-color);
    }
    section.content{
        margin-left: 30px;
    }
    footer .foo .foo-1{
        padding: 10px 30px;
    }
    footer .links{
        padding: 10px 0px;
    }
    .top-bar ul{
        margin-left: 10px;
    }
}